@charset "UTF-8";
body{
    background-color: #f0d453;
    font-family: Arial, Helvetica, sans-serif
}
h1{
    color: #5455F0;
}
h1#principal{
    text-align: center;
    background-color: #5455F0;
    color: #d8d8d8;
}
h2{
    color: #6A6AB0;
}
.basico{
    color: #32a30f;
    background-color: #d8d8d8;
}
.intermediario{
    color: #a3940f;
    background-color: #d8d8d8;
}
.avancado{
    color: #a30f0f;
    background-color: #d8d8d8;
}